Flask==3.0.3
Flask-Cors==4.0.1
Flask-JWT-Extended==4.6.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
PyMySQL==1.1.0
python-dotenv==1.0.1
bcrypt==4.1.2
marshmallow==3.21.1
cryptography==42.0.5
Werkzeug==3.0.1
tensorflow==2.16.1
opencv-python==4.9.0.80
numpy==1.26.4
pillow==10.2.0
pillow-avif-plugin==1.5.5
matplotlib==3.8.3
scikit-learn==1.4.1.post1
openai>=2.38.0
reportlab==4.1.0
fpdf==1.7.2
